{% extends "header.html" %} {% block app_content %}
{% from 'bootstrap/form.html' import render_form %}

<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><i class="fa fa-calendar-plus"></i> Your consultation calendar</h1>
      <hr>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col">
      <div id='calendar'></div>
    </div>
  </div>
</div>


<!-- Load the FullCalendar library as part of the main template-->
<link href='/static/js/lib/fullcalendar-4.4.2/packages/core/main.css' rel='stylesheet' />
<link href='/static/js/lib/fullcalendar-4.4.2/packages/daygrid/main.css' rel='stylesheet' />
<link href='/static/js/lib/fullcalendar-4.4.2/packages/timegrid/main.css' rel='stylesheet' />
<link href='/static/js/lib/fullcalendar-4.4.2/packages/list/main.css' rel='stylesheet' />

<script src='/static/js/lib/fullcalendar-4.4.2/packages/core/main.js'></script>
<script src='/static/js/lib/fullcalendar-4.4.2/packages/list/main.js'></script>
<script src='/static/js/lib/fullcalendar-4.4.2/packages/daygrid/main.js'></script>
<script src='/static/js/lib/fullcalendar-4.4.2/packages/timegrid/main.js'></script>



<script type="text/javascript">
  // Initialise the FullCalendar object
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      // Add events by iterating through jinja variable
      events: [
        {% for consultation in consultations %}
        {% if consultation.date != None %}
          {
      'title': '{{consultation.student.username if current_user.is_admin else consultation.teacher.username}}: {{consultation.title}}',
      'start': '{{consultation.start_time}}',
      'end': '{{consultation.end_time}}',
      'allDay': false,
      'url': '/consultations/view/' + {{ consultation.id }}
          },
    {% endif %}
    {% endfor %}
      ],
    header: {
    left: 'timeGridWeek dayGridMonth listYear'
  },
    plugins: ['dayGrid', 'timeGrid', 'list'],
    minTime: '07:00:00',
    maxTime: '21:00:00',
    firstDay: 1,
    local: 'GMT+07:00',
    timeZone: 'local',
    defaultView: 'timeGridWeek',
    nowIndicator: true,

    eventClick: function (info) {
      window.location.replace('/consultations/viebook/calendar');
    }
    });

  calendar.render();
  });

</script>




{% endblock %}