{% extends "header.html" %} {% block app_content %}

<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-12">
      <h1><i class="fa fa-users"></i> Consultation with {{student.username}}</h1>
    </div>
  </div>
</div>
<br>


<div class="container">
  {% if current_user.is_admin %}
  <a href="{{url_for('consultations.save_consultation_details', consultation_id = consultation.id)}}"
    class="btn btn-outline-secondary btn-sm" role="button">
    <i class="fa fa-edit">
    </i> Edit consultation details
  </a>
  <a href="{{url_for('consultations.upload_prereading_file', consultation_id = consultation.id)}}"
    class="btn btn-outline-success btn-sm" role="button">
    <i class="fa fa-file-upload">
    </i> Upload prereading file
  </a>
  <a href="{{url_for('consultations.delete_consultation', consultation_id = consultation.id)}}"
    class="btn btn-outline-danger btn-sm float-right" role="button">
    <i class="fa fa-trash-alt">
    </i> Delete this consultation
  </a>
  {% endif %}
  <a href="{{url_for('consultations.view_scheduling_options', consultation_id = consultation.id)}}"
    class="btn btn-outline-primary btn-sm" role="button">
    <i class="fa fa-calendar-plus">
    </i> Schedule an appointment time
  </a>
  <br><br>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-2 text-center">
            {% if consultation.date %}
            <h1 class="display-4">
              <span class="badge badge-secondary">{{consultation['date'].strftime('%d')}}
              </span>
            </h1>
            <h2>{{consultation['date'].strftime('%b')|upper}}
            </h2>
            {% endif %}
          </div>
          <div class="col-12 col-lg-9">
            <h3 class="text">
              <strong>{{consultation.title}}
              </strong>
            </h3>
            <ul class="list-inline">
              <li class="list-inline-item">
                <i class="fa fa-calendar" aria-hidden="true">
                </i>
                {% if consultation.date %}
                {{consultation['date'].strftime('%A')}}, {{consultation['humanized_date']}}
                {% else %}
                Please confirm a time slot
                {% endif %}
              </li>
            </ul>
            <ul class="list-inline">
              {% for file in prereading_files %}
              <li class="list-item">
                <i class="fa fa-book-reader" aria-hidden="true">
                </i>
                <a href="{{url_for('consultations.download_prereading_file', prereading_file_id = file.id)}}">
                  {{file.original_filename}}
                </a>
                {% if current_user.is_admin %}
                <a href="{{url_for('consultations.delete_prereading_file', consultation_id = consultation.id, prereading_file_id = file.id)}}"
                  class="btn btn-outline-warning btn-sm" role="button">
                  <i class="fa fa-trash-alt">
                  </i>
                </a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
            <em>{{consultation.description}}
            </em>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  {% if current_user.is_admin %}
  <a href="{{url_for('consultations.save_consultation_report', consultation_id = consultation.id)}}"
    class="btn btn-success" role="button">
    <i class="fa fa-plus">
    </i>
    Add a report
  </a>
  <br><br>
  {% endif %}
  {% for report in consultation_reports %}
  <div class="card bg-light mb-3">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h3 class="text">
              <strong>Report by {{report.user.username}}
              </strong>
            </h3>
          </div>
          <div class="col-12 col-lg-6">
            <a href="{{ url_for('consultations.delete_consultation_report', consultation_report_id = report.id, consultation_id = consultation.id) }} "
              class="btn btn-outline-warning btn-sm float-right" role="button">
              <i class="fa fa-trash-alt">
              </i>
              Delete this report
            </a>
            <a href="{{ url_for('consultations.save_consultation_report', consultation_report_id = report.id, consultation_id = consultation.id) }}"
              class="btn btn-outline-secondary btn-sm" role="button">
              <i class="fa fa-edit">
              </i>
              Edit this report
            </a>
            <a href="{{ url_for('consultations.upload_report_file', consultation_report_id = report.id, consultation_id = consultation.id) }}"
              class="btn btn-outline-success btn-sm" role="button">
              <i class="fa fa-file-upload">
              </i>
              Upload report documents
            </a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <ul class="list-inline">
              <li class="list-inline-item">
                <i class="fa fa-bullseye" aria-hidden="true">
                </i> {{report.summary}}
              </li>
            </ul>
            <em>{{report.report}}
            </em>
            <br><br>
            <ul class="list-group">
              {% for report_file in report.report_files %}
              <li class="list-group-item"><i class="fa fa-book-open" aria-hidden="true"></i>
                <a
                  href="{{ url_for('consultations.download_report_file', report_file_id = report_file.id)}}">{{report_file.original_filename}}</a>
                <a href="{{url_for('consultations.delete_report_file', consultation_id = consultation.id, report_file_id = report_file.id)}}"
                  class="btn btn-outline-warning btn-sm float-right" role="button">
                  <i class="fa fa-trash-alt">
                  </i>
                </a>
              </li>
              {% endfor %}
            </ul>

            <br>
            <a href="{{ url_for('consultations.view_report_pdf', report_id = report.id) }}" class="btn btn-outline-info btn-sm" role="button">
              <i class="fa fa-download">
              </i> Download PDF report
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}