{% extends "header.html" %} {% block app_content %}

<br>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <h1><i class="fa fa-users"></i> Consultation report</h1>
  </div>
</div>
</div>
<br>
{% if current_user.is_admin %}

{% endif %}
<div class="container">
  <a href="{{url_for('consultations.delete_consultation', consultation_id = consultation.id)}}" class="btn btn-outline-danger btn-sm" role="button">
    <i class="fa fa-trash-alt">
    </i> Delete this appointment
  </a>
  <br><br>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-2 text-center">
            <h1 class="display-4">
              <span class="badge badge-secondary">17
              </span>
            </h1>
            <h2>JUN
            </h2>
          </div>
          <div class="col-10">
            <h3 class="text">
              <strong>Getting to grips with your UCAS application
              </strong>
            </h3>
            <ul class="list-inline">
              <li class="list-inline-item">
                <i class="fa fa-calendar" aria-hidden="true">
                </i> on June the 17th
              </li>
              
              <a href="#">
                <li class="list-inline-item">
                  <i class="fa fa-info-circle" aria-hidden="true">
                  </i> Pre-reading: UCAS admissions help
                </li>
              </a>
              
            </ul>
            <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </em>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="card bg-light mb-3">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-10">
            <h3 class="text">
              <strong>Report
              </strong>
            </h3>
            <ul class="list-inline">
              <li class="list-inline-item">
                <i class="fa fa-bullseye" aria-hidden="true">
                </i> 3 main targets
              </li>
              
              
              
            </ul>
            <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </em>
            <br><br>
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-book-open" aria-hidden="true"> Reading 1: Lorem ipsum</i></li>
                <li class="list-group-item"><i class="fa fa-book-open" aria-hidden="true"> Reading 2: Tempor incididunt</i></li>
                <li class="list-group-item"><i class="fa fa-book-open" aria-hidden="true"> Reading 3: Labore et dolore</i></li>
                <li class="list-group-item"><i class="fa fa-book-open" aria-hidden="true"> Annex 1: Sed do </i></li>
            </ul> 
            
            <br><br>
            <a href="#" class="btn btn-secondary btn-sm" role="button">
            <i class="fa fa-download">
            </i> Download PDF report
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



{% endblock %}



