{% extends "header.html" %} {% block app_content %}

<br>
<div class="container">
<div class="row">
  <div class="col-md-12">
    <h1><i class="fa fa-calendar-plus"></i> Consultations</h1>
    <hr>
  <a href="{{url_for('consultations.book_consultation_find_student')}}" <button class="btn btn-lg btn-success"><i class="fa fa-plus-circle"></i> Book new consultation</button></a>
  </div>
</div>

<br>

<div class="row text-center">
  <div class="col">
      <div class="counter">
          <i class="fa fa-comment-dots fa-2x"></i>
          <h2 class="timer count-title count-number">Upcoming consultations</h2>
           <br>
          {% for consultation in consultations %}
            <a href="{{url_for('consultations.view_consultation', consultation_id = consultation.id)}}" <button class="btn btn-light">{{consultation.date}}, {{consultation.start_time}} with {{consultation.student.username}} <i class="fa fa-chevron-right"></i></button></a>
            <br>
          
          {% endfor %}
          <hr>
          <a href="{{url_for('main.index')}}" <button class="btn btn-light"><i class="fa fa-chevron-right"></i> View your calendar</button></a>
      </div>
  </div>
</div>


</div>




{% endblock %}



