{% extends "header.html" %} {% block app_content %}

<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><i class="fa fa-calendar-plus"></i> Consultations</h1>
      <hr>
      {% if current_user.is_admin %}
      <a href="{{url_for('consultations.book_consultation_find_student')}}" <button class="btn btn-lg btn-success"><i
          class="fa fa-plus-circle"></i> Book new consultation</button></a>
      {% endif %}
    </div>
  </div>

  <br>

  <div class="row text-center">
    <div class="col">
      <div class="counter">
        <i class="fa fa-calendar-alt fa-2x"></i>
        <h2 class="timer count-title count-number">Upcoming consultations</h2>
        <br>
        {% for consultation in consultations %}
        <!-- Only display consultations with a scheduled date -->
        {% if consultation.date %}
        <a href="{{url_for('consultations.view_consultation', consultation_id = consultation.id)}}" <button
          class="btn btn-light">{{consultation.title}} — {{consultation.humanized_date}}, at {{consultation.start_time.strftime('%H:%M')}}
          with {{consultation.student.username if current_user.is_admin else consultation.teacher.username }} <i class="fa fa-chevron-right"></i></button></a>
        <br>
        {% endif %}
        {% endfor %}
        <hr>
        <a href="{{url_for('consultations.view_calendar')}}" <button class="btn btn-light"><i class="fa fa-chevron-right"></i> View your
          calendar</button></a>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa fa-calendar-plus fa-2x"></i>
        <h2 class="timer count-title count-number">Unscheduled consultations</h2>
        <br>
        <!-- Only display consultations without a scheduled date -->
        {% for consultation in consultations %}
        {% if consultation.date == None %}
        <a href="{{url_for('consultations.view_consultation', consultation_id = consultation.id)}}" <button
          class="btn btn-light">{{consultation.title}} with {{consultation.student.username if current_user.is_admin else consultation.teacher.username }} <i
            class="fa fa-chevron-right"></i></button></a>
        <br>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>


</div>




{% endblock %}